*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$color1: #C2C7BF;
$color2: #304F69;
$color3: #2F0F02;
$font1: Verdana, Geneva, Tahoma, sans-serif;
$home: url(../img/homeimg.jpg);
$aboutus: url(../img/dndcards.jpg);
$contact: url(../img/manualsandice.jpeg);
$products: url(../img/dicesproduct.jpg);
$home2: url(../img/home2.jpg);

header{
    background-color: $color1;
    
    h1{
        font-family: $font1;
        color: $color3;
        padding-left: 3px;
    }

    i{
        color: $color2;
        background-color: transparent;
        font-size: 35px;
        margin-top: 5px;
        padding-left: 5px;
    }
}
.navbar-toggler{
    background-color: $color2;
}
.fa-solid:hover{
    color: $color3;
}
a{
    text-decoration: none;
    color: $color3;
}
.products{
    color: $color2;
}
main{
    .call{
        color: $color1;
        border: 8px solid $color2;
        background-color: $color3;
        padding: 20px;
        font-family: $font1;
        text-align: center;
    }
} /*mixin para evitar repeticion de codigo en los main */
@mixin main-style ($overflow, $image, $height){
    height: $height;
    background-position: center;
    background-size: cover;
    overflow: $overflow;
    background-image: $image
}
.main1{
    @include main-style(hidden, $home, 100vh);
}
.main2{
    @include main-style(hidden ,$aboutus, 100vh);
}
.main3{
    @include main-style(hidden, $contact, 100vh);
}
.main4{
    @include main-style(auto, $products, 100vh);
}
.main5{
    @include main-style(hidden,$home2 ,100vh );
    border-top: #304F69 solid 30px;
}
footer{
    background-color: $color2;
    .fa-brands{
        font-size: 35px;
        color: $color1;
    }
    .fa-brands:hover{
        color: $color3;
    }
    .footerlogo{
        @extend .fa-brands;
        background-color: transparent;
    }
    .footerlogo{
        color: $color1;
    }
}
.form-label{
    color: black;
    background-color: $color1;
}
/*Map para cambiar el borde las imagenes*/
$map: (
    2px: $color1,
    3px: $color2,
    4px: $color3,
    );

@each $px, $color in $map {
    .btn--#{$px} {
        border: $px solid;
        border-color: $color;
    }
}

img:hover{
    transform: scale(1.05);
    border: solid 10px $color2;
}

